.authors-list {
    margin: 0 auto;
    width: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.authors-wrapper .title {
    text-align: center;
}

.authors-list .author {
    display: block;
    padding: .5rem 4rem;
    background: transparent;
}

.authors-list .author:hover {
    background-color: gray;
    color: white;
}

@media only screen and (max-width: 768px) {
    .authors-list{
        padding: 0;
        grid-template-columns: 1fr;
        text-wrap: wrap;
        width: 80%;
        border: 1px solid black;
        border-radius: 5px;
    }

    .authors-list .author{
        padding: .5rem 2rem;
    }

    .author:not(:last-child){
        border-bottom: 1px solid black;
    }
}