nav {
    background-color: purple;
    padding: 1rem;
}

nav .nav-item {
    color: white;
    text-decoration: none;
}

.nav-logo {
    margin: 0;
}

nav,
.nav-list {
    display: flex;
    align-items: center;
}

.nav-list {
    gap: 1.75rem;
}

.nav-logo {
    font-weight: bold;
    font-size: 1.25rem;
}

.right-list {
    margin-left: auto;
    margin-right: 2rem;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .right-list{
        margin-bottom: .5rem;
    }
}