.book-wrapper {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    width: max-content;
    max-width: 200px;
    flex: 1;
}

.books-row {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    padding-bottom: 1rem;
}

.flex-wrap{
    flex-wrap: wrap;
}

.book-wrapper img{
    width: 200px;
    height: 150px;
}