.book-wrapper {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    width: max-content;
    max-width: 200px;
    flex: 1;
}

.books-row {
    display: flex;
    justify-content: center;
    gap: 2rem;
    overflow-x: scroll;
    padding-bottom: 1rem;
}

.flex-wrap{
    flex-wrap: wrap;
}

.book-wrapper img{
    width: 200px;
    height: 150px;
}

@media only screen and (max-width: 768px) {
    .books-row{
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .book-wrapper{
        max-width: 250px;
    }

    .book-wrapper img{
        margin: 0 auto;
        display: block;
    }
}